
/* nav bar start */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgb(33,33,33,0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgb(33,33,33,0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 28px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{

	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #57cbcc !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #57cbcc;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p {
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #57cbcc;
	border-radius: 27px;
	background: #57cbcc;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #57cbcc !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #57cbcc;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgb(33,33,33,0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: #57cbcc;;
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* nav bar end */

.choose-plan{
    background-color: #eee;
}

.table-row{
    background-color: #fff;
    /* padding: 50px ; */
    overflow-y: auto;
    overflow-x: auto;
    /* width: 45rem;
    height: 21.2rem; */
    margin-top: 20rem;
     border: 1px solid #b3b3b3; 
    
}
.table-borderless {
    text-align: center;
    
}
.table-borderless .table-head tr th {
    border-right: 1px solid #b3b3b3; 

}
/* .table-hovers tr:hover{
    background:#57cbcc ;
} */

/* .table-borderless td,
.table-borderless th {
    border-bottom: 4px solid #999;
} */

.table-borderless tr th {
    border-right: 1px solid #b3b3b3;
}
.table-borderless tr td {
    border-right: 1px solid #b3b3b3;
}
.table-borderless tr td .fa-xmark{
  font-size: xx-large;
    color: red;
}

.table-borderless tr td .fa-check{
    font-size: xx-large;
      color: green;
  }

.table-borderless tr {
    border: 1px solid #999;
}


.table-in{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
}

.btn-color{
    background-color: #57cbcc;
    color: #f2f2f2;
    cursor: pointer;
}

.table-w{
    background-color: #999;
}

.table-row::-webkit-scrollbar{
    width: 7px;
}

.table-row::-webkit-scrollbar-track{
   background: #f1f1f1;
   border-radius: 25px;
}

.table-row::-webkit-scrollbar-thumb{
    background: #57cbcc;
    border-radius:25px ;
}

.table-preghap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.praghap-dropdown{
    background-color: #fff;
    border: 1px solid #999;

}


/* .accordion {
    width:100%;
    max-width:350px;
    margin:100px auto;    
    font-family:'Arial', sans serif;} */

/* accordion TAB */
.accordion-tab {
    width:100%; 
    position:relative;      
    overflow:hidden;}

/* accordion TAB A */
.accordion-tab a {
    text-decoration:none;}

/* accordion TAB CONTENT */
.accordion-tab-content {
    max-height:0;
    overflow:hidden;
    -webkit-transition:max-height .35s;
    -o-transition:max-height .35s;
    transition:max-height .35s;}

/* accordion TAB CONTENT ITEM A */
.accordion-tab-content a {
    margin:.6em auto;
    font-size:.8em;
    color:#999;
    transition-duration:.6s;
    display:block;
    text-decoration:none;
    text-transform:capitalize;}

/* accordion TAB CONTENT ITEM A : HOVER */
.accordion-tab-content a:hover {
    padding-left:.5em;
    font-weight:bold;
    color:#57cbcc;
    cursor:pointer;}

/* accordion INPUT */
.accordion input {    
    opacity:0;
    z-index:-1;
    position:absolute;}

/* accordion LABEL */
.accordion label {
    padding:15px 0;    
    border-bottom:solid 1px #57cbcc;;
    color:#111;
    transition-duration:.6s;
    font-size:.8em;
    text-decoration:none;
    font-weight:bold;
    display:block;
    font-weight:bold;    
    text-transform:uppercase;}

/* accordion LABEL : HOVER*/
.accordion label:hover {
    color:#57cbcc;;     
    cursor:pointer;}

/* accordion INPUT IF CHECKED */
.accordion input:checked ~ .accordion-tab-content {
    max-height:1000px;
    margin-bottom:15px;}

/* accordion INPUT IF CHECKED = LABEL #ddc40a */
.accordion input:checked ~ label {
    color:#57cbcc;;
    border-bottom:solid 1px #57cbcc;}

/* accordion ICON LABEL */
.accordion label::after {
    color:#111;
    width:3em;
    height:3em;    
    right:0;
    top:0;
    line-height:3;
    -webkit-transition:all .35s;
    -o-transition:all .35s;
    transition:all .35s;
    position:absolute;
    display:block;
    text-align:center;}

/* accordion LABEL ICON TRANSFORM */
input[type=checkbox] + label::after {
    content:"+";}

input[type=radio] + label::after {
    content:"+";}

input[type=checkbox]:checked + label::after {
    transform:rotate(180deg);}

input[type=radio]:checked + label::after {
    transform:rotateX(180deg);}
