body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choose-plan {
  background-color: #eee;
}


body.overflow-hidden {
  overflow: hidden;
}

#side-menu {
  display: none;
  position: fixed;
  width: 300px;
  top: 0;
  right: -300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1035;
  background: #fff;
  padding: 20px 30px;
  color: #333;
  transition: 0.4s;
}

body.side-menu-visible #side-menu {
  transform: translateX(-300px);
}

#side-menu .contents {
  margin-top: 15px;
}

#side-menu .nav-link {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
}

#side-menu .nav-link:hover {
  opacity: 0.8;
  color: #57cbcc;
}



#side-menu .close {
  font-size: 36px;
  font-weight: normal;
}

.side-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

#side-menu.side-menu-left {
  right: auto;
  left: -300px;
}

body.side-menu-visible #side-menu.side-menu-left {
  transform: translateX(300px);
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;

}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

.navBar .navbar-nav {
  justify-content: center;
  align-items: center;
}

.navBar .navbar-nav .nav-item .nav-link {
  color: black;
}

.navBar .navbar-nav .nav-item .nav-link:hover {
  color: #57cbcc;
}



.table-row {
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 20px;
  padding: 20px;

}

.table-borderless {
  text-align: center;


}

.table-borderless .table-head tr th {
  border-right: 1px solid #b3b3b3;

}

.table-borderless tr th {
  border-right: 1px solid #b3b3b3;
}

.table-borderless tr td {
  border-right: 1px solid #b3b3b3;
}

.table-borderless tr td .fa-xmark {
  font-size: xx-large;
  color: red;
}

.table-borderless tr td .fa-check {
  font-size: xx-large;
  color: green;
}

.table-borderless tr {
  border: 1px solid #999;
}


.table-in {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding-bottom: 10px;
}

.btn-color {
  background-color: #57cbcc;
  color: #f2f2f2;
  cursor: pointer;
}

.table-w {
  background-color: #999;
}

.table-row::-webkit-scrollbar {
  width: 7px;
}

.table-row::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.table-row::-webkit-scrollbar-thumb {
  background: #57cbcc;
  border-radius: 25px;
}

.table-preghap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.praghap-dropdown {
  background-color: #fff;
  border: 1px solid #999;

}



/* accordion TAB */
.accordion-tab {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.accordion-tab a {
  text-decoration: none;
}

.accordion-tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.accordion-tab-content a {
  margin: .6em auto;
  font-size: .8em;
  color: #999;
  transition-duration: .6s;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
}

.accordion-tab-content a:hover {
  padding-left: .5em;
  font-weight: bold;
  color: #57cbcc;
  cursor: pointer;
}

.accordion input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.accordion label {
  padding: 15px 0;
  border-bottom: solid 1px #57cbcc;
  ;
  color: #111;
  transition-duration: .6s;
  font-size: .8em;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.accordion label:hover {
  color: #57cbcc;
  ;
  cursor: pointer;
}

.accordion input:checked~.accordion-tab-content {
  max-height: 1000px;
  margin-bottom: 15px;
}


.accordion input:checked~label {
  color: #57cbcc;
  ;
  border-bottom: solid 1px #57cbcc;
}


.accordion label::after {
  color: #111;
  width: 3em;
  height: 3em;
  right: 0;
  top: 0;
  line-height: 3;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  position: absolute;
  display: block;
  text-align: center;
}

/* accordion LABEL ICON TRANSFORM */
input[type=checkbox]+label::after {
  content: "+";
}

input[type=radio]+label::after {
  content: "+";
}

input[type=checkbox]:checked+label::after {
  transform: rotate(180deg);
}

input[type=radio]:checked+label::after {
  transform: rotateX(180deg);
}


.bg-footer {
  background-color: #33383c;
  padding: 50px 0 30px;
}

.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  padding: 10px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.apple {
  background-color: #424041;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}


@media screen and (max-width: 768px) {
  .table-row {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    overflow-y: hidden;
    overflow-x: auto;

  }


}